@charset "utf-8";

body {
  background: #fff;
}


/* ログインフォーム */
.login_form {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  text-align: center;
}

h2 {
  margin: 20px auto 0;
  text-align: center;
  width: 90%;
  font-size: 36px;
}

.login_form form {
  margin-top: 50px;
}

div.login_form div {
  position: relative;
  margin: 50px 0;
}

.login_form button {
  margin-top: 30px;
}

label {
  position: absolute;
  top: 0;
  font-size: 24px;
  margin: 10px;
  padding: 0 10px;
  background-color: #fff;
  -webkit-transition: top .2s ease-in-out,
    font-size .2s ease-in-out;
  transition: top .2s ease-in-out,
    font-size .2s ease-in-out;
}

.active {
  top: -25px;
  font-size: 18px;
}

input[type=text],
input[type=password] {
  width: 90%;
  padding: 20px;
  border: 1px solid #333;
  font-size: 20px;
  background-color: #fff;
  color: #333;
}

input[type=text]:focus,
input[type=password]:focus {
  outline: none;
}