<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" href="../static/css/ress.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <main>
        <div class="login_form">
            <h2>ログイン</h2>
            <form method="post">
                <div>
                    <label for="username">ユーザー名:</label>
                    <input type="text" id="username" name="username" class="cool">
                </div>
                <div>
                    <label for="password">パスワード:</label>
                    <input type="password" id="password" name="password" class="cool">
                </div>
                <button class="common_btn" type="submit"><span>ログイン</span></button>
            </form>
        </div>
    </main>
    <script src="../static/js/login.js"></script>
</body>

</html>