<!DOCTYPE html>
<html lang="ja">
<!-- パスワードが違う時の画面 -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログイン</title>
  <link rel="stylesheet" href="../static/css/ress.css">
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/reverseForLogin.css">
</head>
<body>
  <main>
    <p>パスワードが違います</p>
    <button id="reverseBtn" class="common_btn" type="submit"><span>戻る</span></button>
  </main>
  <script src="../static/js/reverseForLogin.js"></script>
</body>
</html>